
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grabar Registros</title>
</head>
<body>
    <div>
        <Form method="post" action=" /Home/Grabar">
            <h1> Registro de Productos</h1>
            <table class="auto-style1">
                <tr>
                    <td> Id</td>
                    <td>
                        <input type="text" name=" Id" />
                    </td>
                </tr>
                <tr>
                    <td> Descripcion</td>
                    <td>
                        <input type="text" name=" Descripcion" />
                    </td>
                <tr>
                    <td> Tipo</td>
                    <td>
                        <input type="text" name=" Tipo" />
                    </td>
                <tr>
                    <td> Precio</td>
                    <td>
                        <input type="text" name=" Precio" />
                    </td>
                <tr>
                    <td class=" auto-style2"></td>
                    <td>
                        <input type="submit" value=" Confirmar" />
                    </td>
                </tr>
            </table>
        </Form>

    </div>
</body>
</html>

    </div>
</body>
</html>
